.main-component {
  margin: 0px;
  display: grid;
  background-color: white;
}

.nav-and-hero {
  display: grid;
  /* height: 80%; */
  grid-template-rows: 50px 1fr 3fr 0.5fr;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.nav-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: grey;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-bar h1 {
  flex: 40%;
  color: white;
  text-align: center;
}

.nav-bar nav {
  flex: 50%;
}

.nav-bar a {
  color: white;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration-style: none;
  text-decoration-line: none;
  text-emphasis-style: " ";
  text-emphasis-position: under;
  transition: color 0.15s, text-emphasis-style 0.15s,
    text-emphasis-postion 0.15s;
}

.nav-bar a:hover {
  color: rgb(241, 195, 110);
  text-emphasis-style: "•";
  text-emphasis-position: under;
}

.nav-bar a:active {
  color: #00d0ef;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  list-style-position: outside;
}

.nav-bar li {
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 5px;
}

.hero-div {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
  background-color: #102b4a;
  z-index: -1;
}

.hero-div-background-image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
  transition: all 0.15s;
}

.hero-title {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

.hero-title h2 {
  flex: 50%;
  text-align: center;
  color: #00d0ef;
  font-size: 4rem;
}

.hero-title h3 {
  flex: 45%;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

.hero-main {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  display: flex;
  gap: 40px;
}

.hero-image-slider {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-image-slider img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.hero-info-text {
  flex: 50%;
}

.hero-info-text h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0px;
}

.hero-info-text li {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-btn-div {
  padding-top: 40px;
}

.btn-hero {
  background-color: #00d0ef;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 18px;
  border-radius: 50px;
  box-shadow: 4px 3px 10px grey;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, font-size 0.15s;
}

.btn-hero:hover {
  background-color: orange;
  color: black;
  font-size: 1.2rem;
}

.mini-divider {
  border-width: 7px 7px 7px 7px;
  border-color: #00d0ef;
  background-color: #00d0ef;
  width: 80px;
  height: 8px;
  margin-bottom: 40px;
}

.separator {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator div {
  border-width: 7px 7px 7px 7px;
  border-color: #00d0ef;
  background-color: #00d0ef;
  height: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 40%;
}

.contact-map-hours {
  height: 80%;
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 25px;
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: #f6f6f6;
}

.map-iframe {
  width: 100%;
  height: 95%;
  grid-column: 2 / 3;
  grid-row: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-list {
  grid-column: 4 / 5;
  grid-row: 1;
  /* margin: auto; */
}

.contact-list ul {
  list-style: none;
}

.contact-list li img {
  width: 25px;
  height: 25px;
}
.contact-list li a {
  padding-left: 50px;
}
.contact-list li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clinic-hours {
  grid-column: 3 / 4;
  margin: auto;
  grid-row: 1;
}

.clinic-hours ul {
  list-style: none;
}

.hours-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px;
  align-items: center;
  justify-content: center;
}

.circle-shape {
  border-radius: 50%;
  width: 85%;
  height: 85%;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.clinic-hours li img {
  width: 25px;
  height: 25px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: auto;
}

.clinic-hours li h3 {
  grid-column: 2/3;
  grid-row: 1;
}
.clinic-hours li h5 {
  grid-column: 2/3;
  grid-row: 2;
}

.clinic-rating {
  height: 70vh;
}
