.main-component {
  margin: 0px;
  display: grid;
  background-color: white;
}

:root {
  --darkblue: #0070cd;
  --babyblue: #00d0ef;
  --darkgrey: #222222;
  --cuteorange: #f78536;
}
html,
body {
  margin: 0px 0px;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.overlay-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-nav a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay-nav a:hover,
.overlay-nav a:focus {
  color: #f1f1f1;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay-nav a {
    font-size: 20px;
  }
  .overlay-nav .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.nav-and-hero {
  display: grid;
  /* height: 80%; */
  grid-template-rows: 50px 0.5fr 3fr 0.5fr;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

@media (max-width: 600px) {
  .nav-and-hero {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 0.5fr 3fr;
  }
  .hero-image-slider {
    margin: 10px 10px;
  }
  .hero-info-text {
    margin: 10px 10px;
  }
}

.nav-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: grey;
  opacity: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-bar h1 {
  flex: 40%;
  color: white;
  text-align: center;
}

.desktop-nav {
  flex: 50%;
}

.mobile-nav {
  flex: 30%;
  display: none;
}
.mobile-nav-btn {
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.mobile-nav-btn span {
  font-size: 18px;
  color: white;
}

@media (max-width: 1100px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: end;
  }
}

.nav-bar a {
  color: white;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration-style: none;
  text-decoration-line: none;
  text-emphasis-style: " ";
  text-emphasis-position: under;
  transition: color 0.15s, text-emphasis-style 0.15s,
    text-emphasis-postion 0.15s;
}

.nav-bar a:hover {
  color: rgb(241, 195, 110);
  text-emphasis-style: "•";
  text-emphasis-position: under;
}

.nav-bar a:active {
  color: #00d0ef;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  list-style-position: outside;
}

.nav-bar li {
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: 5px;
}

.hero-div {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
  background-color: #102b4a;
  z-index: -1;
}

.hero-div-background-image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
  transition: all 0.15s;
}

.hero-title {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

.hero-title h2 {
  flex: 50%;
  text-align: center;
  color: #cef0d4;
  font-size: 4rem;
  text-shadow: 1px 1px black;
}

.hero-title h3 {
  flex: 45%;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

.hero-main {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 600px) {
  .hero-main {
    grid-column: 1 / -1;
    flex-direction: column;
  }
}

.hero-image-slider {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-image-slider img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.hero-info-text {
  flex: 50%;
}

.hero-info-text h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0px;
}

.hero-info-text li {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-btn-div {
  padding-top: 40px;
}

@media (max-width: 600px) {
  .action-btn-div .btn-hero {
    margin: 10px 10px;
  }
}

.btn-hero {
  background-color: var(--darkblue);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 18px;
  border-radius: 50px;
  box-shadow: 4px 3px 10px grey;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, font-size 0.15s;
}

.btn-hero:hover {
  background-color: var(--cuteorange);
  color: black;
  font-size: 1.2rem;
}
.btn-hero:active {
  background-color: var(--babyblue);
  color: black;
  font-size: 1.2rem;
}

.mini-divider {
  border-width: 7px 7px 7px 7px;
  border-color: var(--darkblue);
  background-color: var(--darkblue);
  width: 80px;
  height: 8px;
  margin-bottom: 40px;
}

.separator {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
}

.separator div {
  border-width: 7px 7px 7px 7px;
  border-color: var(--darkgrey);
  background-color: var(--darkgrey);
  height: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 40%;
}

.contact-map-hours {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: #f6f6f6;
}

@media (max-width: 600px) {
  .contact-map-hours {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr;
  }
}

.map-iframe {
  width: 95%;
  height: 95%;
  grid-column: 1 / 2;
  grid-row: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .map-iframe {
    grid-row: 1 / 2;
    grid-column: 1 /-1;
    padding: 10px 10px;
  }
}

.contact-list {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

@media (max-width: 600px) {
  .contact-list {
    grid-row: 2 / 3;
    grid-column: 1 /-1;
    margin: auto;
  }
}

.contact-list ul,
.footer-contact ul {
  list-style: none;
}

.contact-list li img,
.footer-contact li img {
  width: 25px;
  height: 25px;
  transition: all 0.15s;
}
.contact-list li img:hover,
.footer-contact li img:hover {
  width: 50px;
  height: 50px;
}

.contact-list li a,
.footer-contact li a {
  padding-left: 50px;
}
.contact-list li div,
.footer-contact li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clinic-hours {
  grid-column: 2 / 3;
  margin: auto;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .clinic-hours {
    grid-row: 3 / 4;
    grid-column: 1 /-1;
    margin-right: 120px;
  }
}

.clinic-hours ul {
  list-style: none;
  list-style-position: outside;
}

.hours-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px;
  align-items: start;
  justify-content: center;
}

.circle-shape {
  border-radius: 50%;
  width: 85%;
  height: 85%;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.clinic-hours li img {
  width: 25px;
  height: 25px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: auto;
}

.clinic-hours li h3 {
  grid-column: 2/3;
  grid-row: 1;
}
.clinic-hours li h5 {
  grid-column: 2/3;
  grid-row: 2;
}

.clinic-rating {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 165px;
  padding: 20px 20px;
  background-color: #f6f6f6;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .clinic-rating {
    padding: 5px 5px;
    gap: 5px;
  }
}

.read-more-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read-more-btn {
  margin: 40px 0;
  width: 150px;
  padding: 10px 10px;
}

.rating-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  /* height: 165px; */
  grid-row: 1 / 2;
  grid-column: 1;
  background-color: white;
}

.rating-stars {
  display: flex;
  margin: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
}

.rating-item img {
  height: 16px;
  width: 16px;
}

.rating-item .overall-rating {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.rating-item .comment {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.rating-item .user {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}
.rating-item .date {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
@media only screen and (max-width: 600px) {
  .rating-item .date {
    font-size: small;
  }
  .rating-item .comment {
    font-size: 14px;
  }
}

.no-margin {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.doctor-rating-number {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  display: grid;
}
.doctor-rating-text {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.doctor-rating-number-background {
  margin: auto;
  height: 100%;
  width: 25%;
  border-radius: 12%;
  background-color: var(--darkblue);
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .doctor-rating-number-background {
    height: 50%;
  }
}

.doctor-rating-number-background p {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.doctor-rating-text {
  display: flex;
}

.doctor-rating-text p {
  margin: auto;
}

.follow-us {
  height: 10vh;
  display: flex;
  padding: 20px 20px;
  background-color: #f6f6f6;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
