.et-header-div {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  /* width: 100%; */
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 18px;
  border-color: grey;
  border-style: solid;
}

@media (max-width: 600px) {
  .et-header-div {
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.et-header-div-container {
  padding: 20px 20px;
  width: 100%;
}

.et-header-icon {
  grid-row: 1/-1;
  grid-column: 2 / 3;
  margin: auto;
}

.et-header-btn-div {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

@media (max-width: 600px) {
  .et-header-btn-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.et-header-btn1 {
  grid-row: 1 /1;
  grid-column: 1 / 2;
  margin: 20px 40px;
  background-color: #01875f;
  height: 48px;
  width: 204px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: white;
  border-color: white;
  border-width: 0px;
  cursor: pointer;
}

.et-header-btn2 {
  grid-row: 1 /1;
  grid-column: 2 / 3;
  margin: 20px 40px;
  background-color: #01875f;
  height: 48px;
  width: 204px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: white;
  border-color: white;
  border-width: 0px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .et-header-icon {
    height: 100px;
    width: 100px;
  }

  .et-header-btn1 {
    margin: auto;
    grid-column: 1 / 1;
    grid-row: 1 /2;


  }

  .et-header-btn2 {
    margin: auto;
    grid-column: 1 / 1;
    grid-row: 2 /2;
  }
}

.erection-test-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 90%;
  text-align: start;
  padding: 0px 20px;
  font-size: 64px;
}

@media (max-width: 600px) {
  .erection-test-title {
    font-size: 24px;
  }
}

.et-paragraphs-div-container {
  padding: 20px 20px;
}

.et-paragraphs-div {
  margin: 10px 10px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 28px;
  background-color: white;
  border-radius: 18px;
  border-color: grey;
  border-style: solid;
}

.et-images-div {
  height: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  background-color: white;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 18px;
  border-color: grey;
  border-style: solid;
}

.et-images-div-container {
  width: 100%;
  padding: 20px 20px;
}

.et-images-div img {
  object-fit: contain;
  max-width: 250px;
}